# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
Build.lnk

# Annoying text files
README.txt
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge*
MinecraftForge*
Paulscode*
*changelog.txt